<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtoCart</servlet-name>
        <servlet-class>controller.addtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_checkout</servlet-name>
        <servlet-class>controller.view_checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeItem</servlet-name>
        <servlet-class>controller.removeItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderComp</servlet-name>
        <servlet-class>controller.orderComp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtoCart</servlet-name>
        <url-pattern>/addtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_checkout</servlet-name>
        <url-pattern>/view_checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeItem</servlet-name>
        <url-pattern>/removeItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderComp</servlet-name>
        <url-pattern>/orderComp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homeShop.jsp</welcome-file>
    </welcome-file-list>
</web-app>
